// reset slick slider css
.slick-prev {
    left: -10px !important;
    z-index: 1000 !important;
    height: 48px !important;
    width: 44px !important;
    border: 2px solid #d7d7d7 !important;
    background: #fff !important;

    &:hover {
        background: #d7d7d7 !important;
    }
}

.slick-prev:before, .slick-next:before {
    font-family: FontAwesome !important ;
    color: red !important;
}

.slick-next {
    right: -1px !important;
    z-index: 1000 !important;
    height: 48px !important;
    width: 44px !important;
    border: 2px solid #d7d7d7 !important;
    background: #fff !important;

    &:hover {
        background: #d7d7d7 !important;
    }
}

.slick-disabled {
    display: none !important;
}

.Section-share {
    &.Specialty-section {
        background: #f5f5f5;
    }

    &.Popular-doctor-section {
        background: #f5f5f5;
    }

    .Section-body {

        .Section-customize {
            cursor: pointer;
            
            .bg-image {
                width: 278px;
                height: 150px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: #eee;

                &.bg-img-specialty {
                    // background-image: url('../../assets/specialty/co-xuong-khop.jpeg');
                }

                &.bg-img-medical-facility {
                    background-image: url('../../assets/medical-facility/bv-viet-duc.jpeg');
                }

                &.bg-img-popular-doctor {
                    // background-image: url('../../assets/popular-doctor/anh-dai-dien-bs.jpeg');
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                }

                &.bg-img-handbook {
                    background-image: url('../../assets/handbook/gia-xet-nghiem-tieu-duong.jpeg');
                }
            }
        }
    }
}

.Section-share {
    height: 330px;
    
    .Section-container {
        margin: 0 100px;
        display: flex;
        flex-direction: column;

        .Section-header {
            height: 60px;
            margin-bottom: 30px;
            padding-top: 30px;

            .Section-header-title {
                font-size: 22px;
                font-weight: 600;
            }

            .Section-header-btn {
                float: right;
                padding: 10px 15px;
                border: none;
                outline: none;
                display: block;
                background: #ebebeb;
                color: black;
                cursor: pointer;
                text-transform: uppercase;

                &:hover {
                    color: #fff;
                    background: #f7d800;
                }
            }
        }
    }
}

.Popular-doctor-section {
    .wrapper-img {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
}

.home-footer {
    text-align: center;
    padding-top: 8px;
    border: 1px solid #64b9e5;
    background-color: #64b9e5;
}